<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\public\css\signupstyle.css">
    
</head>
<body>
    <div class="container">
    <!-- <div class="image">

    </div> -->

    
    <div class="main">
    <header>SIET - PORTAL</header>
    <br>
    <form id="myform"  action="/signup" name="myform" method="POST">
            <table id="yeartable">
                <tr>
                    <td><label for="">Username</label></td>
                    <td><input type="text" name="name" id="name" title="only alphabets" required></td>
                </tr>
                <tr>
                    <td><label for="">E-Mail</label></td>
                    <td><input type="text" name="email" id="emailid" required></td>
                </tr>
                <tr>
                    <td><label for="">Password</label></td>
                    <td><input type="password" name="password" id="password" required></td>
                </tr>
                <tr>
                    <td><label for="">Repeat Password</label></td>
                    <td><input type="password" name="repassword" id="repassword" required></td>
                </tr>
                
                
    </table>

        <br>
        
        <button type="submit">SIGN UP</button>
        

    </form> 
    <form action="/">
        <input type="submit" value="if already Signed up go to LOGIN Page" id="button2">
    </form>  
    
      
</div>
</div>
<script src="\public\js\signup.js"></script>
</body>
</html>